.App {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.header {
  flex: 0 0 auto;
  line-height: 1.3;
}

.panes {
  display: flex;
  flex: 1 1 auto;
}

.AceEditor {
  flex: 1 1 50%;
}

.output {
  display: flex;
  flex-direction: column;
}

.Options {
  flex: 0 0 auto;
}

.Graph {
  flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  position: relative;
  overflow: auto;
}

.Graph.text .element {
  display: none;
}

.Graph.element .text {
  display: none;
}

.Graph .error {
  position: absolute;
  top: 20px;
  left: 20px;
  margin-right: 20px;
  background: red;
  color: white;
  z-index: 1;
}

.Graph .text {
  font-size: 12px;
  font-family: monaco, courier, monospace;
  white-space: pre;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.Graph .element svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.Graph .element img {
  display: block;
  margin: 0 auto;
}


.Options {
  background: #eee;
  border-bottom: 1px solid #ccc;
  padding: 8px;
}

.Options label {
  margin-right: 8px;
}


.header {
  background: #eee;
  border-bottom: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

.header b {
  font-size: 18px;
}


.AceEditor {
  border-right: 1px solid #ccc;
}
