/* layout */

#app_root {
  display: grid;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  grid-template-areas: "header" "options" var(--preview, "editor");
  grid-template-rows: auto auto 1fr;

  margin: 0;
  padding: 0;
  overflow: hidden;
  min-height: 100vh;
}
@media (min-width: 494px) {
  #app_root {
    grid-template-areas: "header" "options" "editor" "graph";
    grid-template-rows: auto auto 1fr 1fr;
  }
  .mobile-only {
    display: none;
  }
}
@media (min-width: 800px) and (orientation: landscape) {
  #app_root {
    grid-template-areas: "header header" "editor options" "editor graph";
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 550px auto;
  }
}

header {
  grid-area: header;
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 20px;

  background-color: #eee;
  border-bottom: 1px solid #ccc;
}

.editor {
  grid-area: editor;
  position: relative;
  width: 100%;
  height: 100%;

  border-right: 1px solid #ccc;
}

.options {
  grid-area: options;
  display: flex;
  align-items: center;
  background-color: #eee;
  border-bottom: 1px solid #ccc;
  padding: 8px;
  gap: 10px;
}

.graph {
  grid-area: graph;
  position: relative;
}

.graph.graph-dark {
  background-color: #222;
}

.graph .text textarea {
  position: absolute;
  width: 100%;
  height: 100%;
}

.graph .element {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.graph .element svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.graph .element img {
  display: block;
  margin: 0 auto;
}

/*@media (max-width: 600px) {
  .split {
    flex-direction: column;
  }

  .master {
    flex: 1 0 50%;
  }

  .detail {
    flex: 1 0 50%;
  }
}*/

/* decoration */

.graph .text textarea {
  border: 0;
  margin: 0;
  padding: 8px;
  background: none;
  font-size: 12px;
  box-sizing: border-box;
  font-family: Monaco, Menlo, "Ubuntu Mono", Consolas, source-code-pro,
    monospace;
  resize: none;
}

.graph .text textarea:focus {
  outline: none;
}
